.profile {
  display: flex;
  gap: 20px;
  padding: 34px 8px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.profile__image {
  border: 1px rgba(0, 0, 0, 1);
  border-radius: 8px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  word-break: break-all;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121b2;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  word-break: break-all;
}

.profile__edit {
  margin-top: auto;
}

.profile__edit-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
  transition: 0.6s;
}

.profile__edit-link:hover {
  opacity: 1;
  transition: 0.5s;
}

.profile__edit-logo {
  color: #212121;
}
