<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Share and discover stunning images with our
   social media web app. Connect with others, upload your favorite photos,
   explore trending content, and engage with a vibrant creative community."
    />
    <meta name="author" content="Ryan Zomparelli" />
    <meta
      name="keywords"
      content="
  image sharing,
	photo sharing,
	social media,
	online gallery,
	photography community,
	creative platform,
	photo uploads,
	picture sharing"
    />
    <title>Spots</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <!-- One way to render images outside of css. -->
        <img
          src="<%= require('./images/logo.svg') %>"
          alt="Spots logo."
          class="header__logo"
        />
      </header>

      <main class="content">
        <section class="profile page__section">
          <img
            id="profile-avatar"
            alt="Profile picture."
            class="profile__image"
          />
          <div class="profile__content">
            <h1 class="profile__name"></h1>
            <p class="profile__description"></p>
            <button class="profile__edit-button" type="button">
              <img
                src="<%= require('./images/pencil.svg') %>"
                alt="edit pencil."
                class="profile__edit-icon"
              />Edit Profile
            </button>
          </div>
          <button class="profile__button-add" type="button">
            <img
              src="<%= require('./images/cross.svg') %>"
              alt=""
              class="profile__button-icon"
            />
            New Post
          </button>
        </section>

        <section class="cards page__section">
          <ul class="cards__list">
            <template id="card-template">
              <li class="card">
                <button
                  class="card__delete-button"
                  type="button"
                  aria-label="Delete image"
                ></button>
                <img src="#" alt="" class="card__image" />
                <div class="card__items">
                  <h2 class="card__title"></h2>
                  <button
                    class="card__like-button"
                    type="button"
                    aria-label="Like image"
                  ></button>
                </div></li
            ></template>
          </ul>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__copyright">2025 &copy; Spots</p>
      </footer>
      <div class="modal" id="edit-profile-modal">
        <div class="modal__container">
          <button
            class="modal__button-close"
            type="button"
            aria-label="Close"
          ></button>
          <h2 class="modal__title">Edit profile</h2>
          <form name="edit-profile" class="modal__form" novalidate>
            <label for="name-input" class="modal__label">
              Name
              <input
                id="name-input"
                type="text"
                class="modal__input"
                placeholder="Type your name"
                minlength="2"
                maxlength="40"
                required
              />
              <span class="name-input-error modal__input-error"></span>
            </label>
            <label for="description-input" class="modal__label">
              Description
              <input
                id="description-input"
                type="text"
                class="modal__input"
                placeholder="Describe yourself"
                minlength="2"
                maxlength="200"
                required
              />
              <span class="description-input-error modal__input-error"></span>
            </label>
            <button class="modal__button-submit" type="submit">Save</button>
          </form>
        </div>
      </div>

      <div class="modal" id="new-post-modal">
        <div class="modal__container">
          <button
            class="modal__button-close"
            type="button"
            aria-label="Close"
          ></button>
          <h2 class="modal__title">New Post</h2>
          <form name="new-post" class="modal__form" novalidate>
            <label for="image-input" class="modal__label">
              Image link
              <input
                id="image-input"
                type="url"
                class="modal__input"
                placeholder="Paste a link to the picture"
                required
              />
              <span class="image-input-error modal__input-error"></span>
            </label>
            <label for="caption-input" class="modal__label">
              Caption
              <input
                id="caption-input"
                type="text"
                class="modal__input"
                placeholder="Type your caption"
                minlength="2"
                maxlength="30"
                required
              />
              <span class="caption-input-error modal__input-error"></span>
            </label>
            <button class="modal__button-submit" type="submit">Save</button>
          </form>
        </div>
      </div>

      <div class="modal" id="preview-modal">
        <div class="modal__preview">
          <button
            class="modal__button-close modal__button-close_type_preview"
          ></button>
          <img src="#" alt="" class="modal__img" />
          <h3 class="modal__caption"></h3>
        </div>
     </div>

      <div class="modal" id="delete-card-modal">
        <div class="modal__container modal__container_type_delete">
          <button
            class="modal__button-close modal__button-close_type_preview"
          ></button>
          <h2 class="modal__title modal__title_type_delete">Are you sure you want to delete this image?</h2>
          <form class="modal__buttons" name="delete-card">
         <button id="submit" class="modal__button-submit modal__button_type_delete" type="submit">Delete</button>
         <button id="cancel" class="modal__button-submit modal__button_type_cancel" type="button">Cancel</button>
          </form>
        </div>
     </div>
  </body>
</html>
